.body{
	background-color: #8C92AC;
	margin: 0px 0px 0px 0px;
	font-family: "MedievalSharp", serif;
	color:#000;
}
body{
	background-color: #8C92AC;
	margin: 0px 0px 0px 0px;
	font-family: "MedievalSharp", serif;
}
img{
	width:200px;
	height:150px;
	float:left;
	margin: 0px 20px 10px 0px;
}
h1, h2{
	background-color: #8D918D;
	margin: 0px 0px 0px 0px;
	font-family: "Audiowide", serif;
}
.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}
.medievalsharp-regular {
  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;
}
.darkMode{
	background-color:#000;
	color:#FFF;
}
.accessibleMode{
	font-family:Helvetica, sans-serif;
}